# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code settings
.vscode/

# Logs
logs/
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# AI/ML model files
*.pth
*.ckpt
*.h5

